/Fryzjer.class
/Golibroda.class
/Klienci.class
/Kolejka.class
/Konsument.class
/Pojemnik.class
/Producent.class
/Schowek.class
/Towar.class
/Watek.class
/Zadanie1.class
/Zadanie3.class
/Zadanie4.class
/Zmiennik.class
