/Label.class
/Row.class
/SimpleCalculator.class
/Window.class
/Zadanie1$buttonEvent.class
/Zadanie1.class
/Zadanie2$buttonEvent.class
/Zadanie2.class
/Zadanie3$Buttons$buttonEvent.class
/Zadanie3$Buttons$buttonEventA.class
/Zadanie3$Buttons$buttonEventR.class
/Zadanie3$Buttons.class
/Zadanie3.class
/Zadanie4$Slider.class
/Zadanie4$Sliders$sliderEvent.class
/Zadanie4$Sliders.class
/Zadanie4.class
/Zadanie5$buttonCount.class
/Zadanie5.class
